<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>Menu Button</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <h1>Heading 1</h1>

  <ion-list [inset]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @for (item of list; track $index) {

        <ion-list>
          <ion-item (click)="setOpen(true)"[routerLink]="['/tabs/tab2', item.value]"
          >
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              />
            </ion-thumbnail>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

  <ion-toast
    [isOpen]="isToastOpen"
    message="This toast will close in 5 seconds"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>